body{
    background-image: url("images/f4.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 40%;
    font-family: source san pro,sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    align-items: center;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  
  
  
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  .flip-card2 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front2 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back2 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  .flip-card3 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner3 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card3:hover .flip-card-inner3 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front3, .flip-card-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front3 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back3 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  
  .flip-card4 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner4 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card4:hover .flip-card-inner4 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front4, .flip-card-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front4 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back4 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  .flip-card5 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner5 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card5:hover .flip-card-inner5 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front5, .flip-card-back5 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front5 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back5 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  .flip-card6 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner6 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card6:hover .flip-card-inner6 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front6, .flip-card-back6 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front6 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back6 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  .flip-card7 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner7 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card7:hover .flip-card-inner7 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front7, .flip-card-back7 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front7 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back7 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  
  
  
  .flip-card8 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner8 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card8:hover .flip-card-inner8 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front8, .flip-card-back8 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front8 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back8 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  
  .flip-card9 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner9 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card9:hover .flip-card-inner9 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front9, .flip-card-back9 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front9 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back9 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  
  .flip-card10 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner10 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card10:hover .flip-card-inner10 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front10, .flip-card-back10 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front10 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back10 {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .main2{
    display: flex;
    flex-direction: row;
  }
  .main1{
    display: flex;
    flex-direction: row;
  }
  .main3{
    display: flex;
    flex-direction: row;
  }
  .main4{
    display: flex;
    flex-direction: row;
  }
  .main5{
    display: flex;
    flex-direction: row;
  }